<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Магазин</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Кошик</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/panel">Панель адміна<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ordershipment">Доставка та опплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Контакти</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/feedback">Відгуки</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Вийти</a>
                </li>
            </ul>

        </div>
    </nav>




    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Код</th>
                    <th>Код продукту</th>
                    <th>Кількість</th>
                    <th>Витрати</th>
                    <th>Адреса</th>
                    <th>Надіслано?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" ><!--th:onclick="'javascript:location.href=\'' + @{'/product/' + ${product.id}} + '\''"-->
                    <td th:text="${order.id}">Код</td>
                    <td>
                        <th:block th:each="item : ${order.items}">
                            <th:block th:onclick="'javascript:location.href=\'' + @{'/product/' + ${item.product_id}} + '\''" th:text="${item.product_id}">[category name]</th:block>
                        <br>
                        </th:block>
                    </td>
                    <td>
                        <th:block th:each="item : ${order.items}">
                            <th:block th:text="${item.quantity}">[category name]</th:block>
                            <br>
                        </th:block>
                    </td>
                    <td th:text="${order.price}">Ціна</td>
                    <td th:text="${order.addressAndPersonalData?.firstName}+' '+ ${order.addressAndPersonalData?.lastName}+' '+${order.addressAndPersonalData?.city}+' '+ ${order.addressAndPersonalData?.street}+' '+${order.addressAndPersonalData?.zipCode}+' '+${order.addressAndPersonalData?.phoneNumber}">Адреса</td>
                    <td th:onclick="'javascript:location.href=\'' + @{'/panel/order/send/' + ${order.id}} + '\''" th:text="${order.send}">Надіслано</td>
                </tr>
                </tbody>
            </table>
            <hr/>

        </div>
    </div>
</div>
</body>
</html>
